.container {
  position: relative;
  .show {
    display: block !important;
  }
  .form-edit-container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(#404040, .3);
  }

  .form-edit-content {
    border-radius: 5px;
    position: absolute;
    padding: 50px 20px 29px;
    min-width: 400px;
    width: 30%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    textarea {
      min-height: 100px;
      resize: none;
    }

    .btns {
      display: flex;
      margin-left: 10%;
      justify-content: space-between;
    }

    .range {
      display: flex;
      justify-content: space-around;
    }

    input[type='number'] {
      width: 80px;
    }
  }

}